{
  "presets": [
    "babel-preset-react-app"
  ],
  "ignore": [
    "/node_modules/"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["styled-components", {
      "displayName": false,
      "ssr": true,
      "minify": true,
      "transpileTemplateLiterals": true
    }]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-inline-elements",
        "transform-react-constant-elements"
      ]
    }
  }
}
