{
  "presets": [
    "babel-preset-philpl"
  ],
  "ignore": [
    "/node_modules/"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src/client"],
      "alias": {
        "~": "."
      }
    }]
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-inline-elements",
        "transform-react-constant-elements"
      ]
    }
  }
}
