@font-face {
  font-family: 'TLCircular Book';
  src: url('/static/TLCircular-Book.eot');
  src: url('/static/TLCircular-Book.eot?#iefix') format('embedded-opentype'),
    url('/static/TLCircular-Book.woff2') format('woff2'),
    url('/static/TLCircular-Book.woff') format('woff'),
    url('/static/TLCircular-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TLCircular';
  src: url('/static/TLCircular-Bold.eot');
  src: url('/static/TLCircular-Bold.eot?#iefix') format('embedded-opentype'),
    url('/static/TLCircular-Bold.woff2') format('woff2'),
    url('/static/TLCircular-Bold.woff') format('woff'),
    url('/static/TLCircular-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body {
  font-size: 14px;
  font-family: "TLCircular", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
